.navbar-header, .navbar-brand {
    line-height: 70px;
    height: 70px;
    padding-top: 0;
}

.jumbotron
{
    background-image: url("../../bundles/chralpha/images/background3.jpg");
    color: #ffffff;

}